<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="RULE1">
					<match url="^index(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="/index.php" />
				</rule>
				<rule name="RULE2">
					<match url="^register(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="/register.php" />
				</rule>
				<rule name="RULE3">
					<match url="^habblet/ajax/namecheck(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="/habblet/ajax/namecheck.php" />
				</rule>
				<rule name="RULE4">
					<match url="^captcha.jpg$" ignoreCase="false" />
					<action type="Rewrite" url="./captcha/captcha.php" />
                </rule>
				<rule name="RULE5">
					<match url="^me(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="./me.php" />
				</rule>
				<rule name="RULE6">
                    <match url="^articles/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/news.php?id={R:1}" appendQueryString="true" />
                </rule>
				<rule name="RULE7">
					<match url="^client(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="./client.php" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
