<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="RULE1">
					<match url="^index(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="/index.php" />
				</rule>
				<rule name="RULE2">
					<match url="^register(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="/register.php" />
				</rule>
				<rule name="RULE3">
					<match url="^flash(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="/web-gallery/flash" />
				</rule>
				<rule name="RULE4">
					<match url="^xml(|/)$" ignoreCase="true" />
					<action type="Rewrite" url="/web-gallery/xml" />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
